// Main color
$black: #000000;
$white: #ffffff;
$yellow: #ffd43b;
$gray: #bab8b8;
$gray-2: #babac2;
$gray-3: #d8d6d6;
$blue: #4a12e6;
$blue-2: #b197fc;

// Font
$mainFont: 'Montserrat', 'OpenSans-Regular', sans-serif;

// Size
$mainFontColor: $black;
$mainFontSize: 14px;
$mainFontWeight: 500;
$mainLineHeight: normal;
